@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'iranyekan';
    src: url('./fonts/Qs_Iranyekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'iranyekan', sans-serif;
}
